<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable URL Rewrite -->
    <rewrite>
      <rules>
        <!-- Rule to proxy all requests to Node.js app -->
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <!-- Don't proxy static files that exist -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- IIS has good defaults for static files, no custom mappings needed -->
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- Error handling -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>